/* Estilos para el carrusel de imágenes */
.carousel-image-container {
    width: 100%; /* Ajusta el ancho según tus necesidades */
    text-align: center; /* Centra la imagen en el contenedor */
  }
  
  .carousel-image {
    max-width: 100%; /* La imagen no puede ser más ancha que su contenedor */
    height: 500px; /* Mantiene la proporción original de la imagen */
    border-radius: 8px; /* Otra mejora visual opcional */
  }